 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 637px;
}

.u-section-1 .u-shape-1 {
  width: 461px;
  height: 398px;
  margin: 43px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 454px;
  height: 401px;
  box-shadow: 2px 2px 8px 0 rgba(var(---r),var(---g),var(---b),1);
  margin: -355px 50px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 10rem;
  line-height: 181.5px;
  font-weight: normal;
  margin: -90px 0 0;
}

.u-section-1 .u-group-1 {
  width: 586px;
  min-height: 318px;
  margin: -494px auto 60px 50px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-shape-2 {
  width: 153px;
  height: 145px;
  background-image: none;
  margin: -39px auto 0 -40px;
}

.u-section-1 .u-text-2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin: -88px 20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  margin: 20px 93px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 402px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -86px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-right: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 12rem;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 10.5rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 66px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 301px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 15px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 388px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1077px;
  margin: 94px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 230px;
}

.u-section-2 .u-shape-1 {
  width: 136px;
  background-image: none;
  height: 129px;
  margin: -42px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  margin: -87px 0 0 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 230px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 10px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 230px;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: -8px 171px 0 0;
}

.u-section-2 .u-shape-2 {
  width: 136px;
  background-image: none;
  height: 129px;
  margin: -100px 32px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-2 .u-shape-1 {
    width: 137px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: -94px 37px 135px 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-top: 35px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 201px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-1 {
    width: 160px;
    height: 148px;
    margin-top: -17px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin: -95px 13px 31px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-1 {
    width: 152px;
  }

  .u-section-2 .u-text-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 157px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("oreo6.jpg");
  background-position: 50% 34.57%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1447px;
}

.u-section-3 .u-shape-1 {
  width: 540px;
  height: 613px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.5rem;
  margin: -568px 675px 0 75px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 647px 0 47px;
}

.u-section-3 .u-group-1 {
  width: 547px;
  background-image: none;
  min-height: 562px;
  margin: 42px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-3 .u-shape-1 {
    width: 479px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 26px;
    margin-left: 724px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 494px;
    margin-left: 724px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -23px;
    margin-left: 611px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 509px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 74px auto 0 70px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: -279px 0 60px 733px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 533px;
    margin-right: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 313px;
    margin-right: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -223px;
    margin-right: 143px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -110px;
    margin-right: 90px;
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: url("WhatsAppImage2021-11-13at10.43.50.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 781px;
}

.u-section-5 .u-text-1 {
  font-size: 5.625rem;
  font-weight: 700;
  width: 512px;
  margin: 70px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  width: 497px;
  margin: 9px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 425px;
  margin-top: 41px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 19.01%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-5 .u-gallery-1 {
    height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-5 .u-gallery-1 {
    height: 804px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1809px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1139px;
  }
}